# Ignore virtual environment
venv/

# Ignore compiled Python files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore Git-related files
.git/
.gitignore

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore environment variables file
.env

# Ignore logs
server/logs/
*.log

# Ignore editor swap/backup files
*.bak
*.swp

# Ignore macOS system files (if using macOS)
.DS_Store

# Ignore temp files
*.tmp
*.cache

